{% extends "base.html" %}

{% block conteudo %}

<div class="container">
    <div class="row">
      <div class="col">
        <h1 class="text-secondary">Ajuda</h1>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h2 class="text-secondary mt-3">Dúvidas Frequentes</h2>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-md-2"></div>
      <div class="col-md-8 border border-2 overflow-y-scroll scroll rounded border-info" style="height: 350px;">
        <div class="row">
          <div class="col">
            <p class="mt-3 fs-4"> Como se tornar um usuário PRO.
              <a data-bs-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                <img class="d-flex img-fluid float-end" style="width: 30px; height: 30px;" src="static/lib/bootstrap-icons/plus-circle.svg" alt="Imagem mais">
              </a>
            </p>
              <div class="collapse" id="collapseExample">
                <div class="card card-body">
                  <p class="fs-4">Na aba “Configurações”, acessada pelo Menu - ao clicar na foto de perfil - é possível tornar-se um usuário PRO. Nela, embaixo do anexo para foto de perfil, há duas opções: “FREE” e “PRO”, ao clicar em “PRO”, você será direcionado a uma nova página com os planos disponíveis.</p>                
                </div>
              </div>
            <hr>
          </div>
        </div>
        <div class="row">
          <div>
            <p class="fs-4"> Os benefícios de ser um usuário PRO.
              <a data-bs-toggle="collapse" href="#collapseExample1" aria-expanded="false" aria-controls="collapseExample1">
                <img class="d-flex img-fluid float-end" style="width: 30px; height: 30px;" src="static/lib/bootstrap-icons/plus-circle.svg" alt="Imagem mais">
              </a>
            </p>
              <div class="collapse" id="collapseExample1">
                <div class="card card-body">
                  <p class="fs-4">Sendo um usuário PRO você poderá:
                    <li> Baixar receitas em PDF; </li>
                    <li> Criar grupos no chat; </li>
                    <li> Postar e acessar vídeos nas receitas; </li>
                    <li> Ganhar super descontos nas lojas parceiras. </li>
                    </p>
                </div>
              </div>
            <hr>
          </div>
        </div>
        <div class="row">
          <div>
            <p class="fs-4"> Onde alterar as suas informações pessoais.
              <a data-bs-toggle="collapse" href="#collapseExample2" aria-expanded="false" aria-controls="collapseExample2">
                <img class="d-flex img-fluid float-end" style="width: 30px; height: 30px;" src="static/lib/bootstrap-icons/plus-circle.svg" alt="Imagem mais">
              </a>
            </p>
              <div class="collapse" id="collapseExample2">
                <div class="card card-body">
                  <p class="fs-4">Ao acessar o Menu - clicando na foto de perfil no cabeçalho - clique na opção "Configurações". 
                    Depois disso, você será direcionado para uma nova página, onde poderá alterar: nome, data de nascimento, endereço, sexo, e-mail, foto de perfil e preferências alimentares. Além disso, tornar-se um usuário PRO. </p>                
                </div>
              </div>
            <hr>
          </div>
        </div>
        <div class="row">
          <div>
            <p class="fs-4"> Como postar uma receita.
              <a data-bs-toggle="collapse" href="#collapseExample3" aria-expanded="false" aria-controls="collapseExample3">
                <img class="d-flex img-fluid float-end" style="width: 30px; height: 30px;" src="static/lib/bootstrap-icons/plus-circle.svg" alt="Imagem mais">
              </a>
            </p>
              <div class="collapse" id="collapseExample3">
                <div class="card card-body">
                  <p class="fs-4">Ao acessar o Menu - clicando na foto de perfil no cabeçalho - clique na opção "Minhas receitas". Depois disso, você será direcionado para uma nova página, onde terá acesso às receitas postadas por você e poderá criar uma nova, ao clicar no ícone de mais no canto superior direito. </p>                
                </div>
              </div>
            <hr>
          </div>
        </div>
        <div class="row">
          <div>
            <p class="fs-4"> Onde excluir ou alterar meus posts.
              <a data-bs-toggle="collapse" href="#collapseExample4" aria-expanded="false" aria-controls="collapseExample4">
                <img class="d-flex img-fluid float-end" style="width: 30px; height: 30px;" src="static/lib/bootstrap-icons/plus-circle.svg" alt="Imagem mais">
              </a>
            </p>
              <div class="collapse" id="collapseExample4">
                <div class="card card-body">
                  <p class="fs-4">Ao acessar o Menu - clicando na foto de perfil no cabeçalho - clique na opção "Postagens. Depois disso, você será direcionado para uma nova página, onde terá acesso as suas publicações - podendo alterá-las ao clicar no ícone do lápis - e às postagens salvas. </p>                
                </div>
              </div>
            <hr>
          </div>
        </div>
        <div class="row">
          <div>
            <p class="fs-4"> Como iniciar uma conversa no chat.
              <a data-bs-toggle="collapse" href="#collapseExample5" aria-expanded="false" aria-controls="collapseExample5">
                <img class="d-flex img-fluid float-end" style="width: 30px; height: 30px;" src="static/lib/bootstrap-icons/plus-circle.svg" alt="Imagem mais">
              </a>
            </p>
              <div class="collapse" id="collapseExample5">
                <div class="card card-body">
                  <p class="fs-4">Há duas formas de iniciar uma conversa no chat.
                    <li> Clicando em "CHAT", na parte superior da página e sendo direcionado
                        à página do chat, onde é possível procurar pelo nome de um usuário. </li>
                    <li> Ao clicar na foto de perfil de um usuário no feed, sendo direcionado a uma
                        conversa na página do chat. </li></p>
                  </div>
              </div>
            <hr>
          </div>
        </div>
        <div class="row">
          <div>
            <p class="fs-4"> TESTE.
              <a data-bs-toggle="collapse" href="#collapseExample6" aria-expanded="false" aria-controls="collapseExample6">
                <img class="d-flex img-fluid float-end" style="width: 30px; height: 30px;" src="static/lib/bootstrap-icons/plus-circle.svg" alt="Imagem mais">
              </a>
            </p>
              <div class="collapse" id="collapseExample6">
                <div class="card card-body">
                  <p class="fs-4">TESTANDO</p>
                  </div>
              </div>
            <hr>
          </div>
        </div>
        <div class="row">
          <div>
            <p class="fs-4"> TESTE.
              <a data-bs-toggle="collapse" href="#collapseExample7" aria-expanded="false" aria-controls="collapseExample7">
                <img class="d-flex img-fluid float-end" style="width: 30px; height: 30px;" src="static/lib/bootstrap-icons/plus-circle.svg" alt="Imagem mais">
              </a>
            </p>
              <div class="collapse" id="collapseExample7">
                <div class="card card-body">
                  <p class="fs-4">TESTANDO</p>
                  </div>
              </div>
            <hr>
          </div>
        </div>
        <div class="row">
          <div>
            <p class="fs-4"> TESTE.
              <a data-bs-toggle="collapse" href="#collapseExample8" aria-expanded="false" aria-controls="collapseExample8">
                <img class="d-flex img-fluid float-end" style="width: 30px; height: 30px;" src="static/lib/bootstrap-icons/plus-circle.svg" alt="Imagem mais">
              </a>
            </p>
              <div class="collapse" id="collapseExample8">
                <div class="card card-body">
                  <p class="fs-4">TESTANDO</p>
                  </div>
              </div>
            <hr>
          </div>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
  <div class="p-5"></div>


{% endblock %}
