{% extends "base.html" %}

{% block conteudo %}

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h1 class="mb-4 text-secondary">Sobre</h1>

            <h3 class="mb-4">Bem-vindo(a) ao Extronomy</h3>
            <p class="text-justify fs-5">Um site com foco em proporcionar uma experiência gastronômica única. Por meio da filtragem e compartilhamento de receitas culinárias, bem como de comunidades interativas, o site oferece um ambiente seguro e acolhedor para aqueles que buscam aprimorar sua alimentação, seja por motivos de saúde ou princípios pessoais.</p>

            <h3 class="mt-5 mb-3">Sobre as receitas</h3>
            <p class="text-justify fs-5">As receitas, que são publicadas pelos próprios usuários, oferecem uma ampla variedade de opções práticas baseadas em diversos hábitos alimentares do dia a dia. Com diferentes ingredientes e foco em restrições alimentares, elas proporcionam uma verdadeira experiência gastronômica.</p>

            <h3 class="mt-5 mb-3">Contato</h3>
            <p class="text-justify fs-5 mb-5">E-mail: extronomy@gmail.com</p>
        </div>

        <div class="col-md-1"></div>

        <div class="col-md-3 d-flex align-items-center justify-content-center">
          <div class="col border border-dark rounded d-flex flex-column align-items-center text-center">
              <figure class="figure">
                  <img src="static/imagens/sclam.jpg" class="figure-img img-fluid rounded" alt="Imagem da logo da SCLAM">
                  <figcaption class="figure-caption fs-5">Desenvolvido pela SCLAM</figcaption>
                  <figcaption class="figure-caption fs-5">Empresa de desenvolvimento de software</figcaption>
              </figure>
          </div>
       </div>
    </div>
</div>
</div>

{% endblock %}
