$primary-rgb: #33A39B;

$secondary-rgb: #4993AA;

$success-rgb: #b4b1b1;

$info-rgb: #CEDCF4;

$warning-rgb: #838383;

$danger-rgb: #8C2431;

$light-rgb: #ACECE4;

$dark-rgb: #2e294e;

$primary: #33A39B;

$secondary: #4993AA;

$success: #b4b1b1;

$info: #CEDCF4;

$warning: #838383;

$danger: #8C2431;

$light: #ACECE4;

$dark: #2e294e;

$font-family-base: 'Oswald', sans-serif;

@import "../lib/bootstrap-src/scss/bootstrap";