{% extends "base.html" %}

{% block conteudo %}

<div class="container">
  <fieldset class="max-w-100 border p-5 m-5 mt-0 rounded">
    <legend class="float-none w-auto p-2">
      <h1 class="text-primary">Cupons:</h1>
    </legend>

    <div class="container">
      <!-- {% if usuario and usuario.admin %} -->
      <div class="d-flex justify-content-end mb-5">
        <a href="/criarCupom"><img style="height: 2rem;" src="static/lib/bootstrap-icons/plus-circle.svg" alt="Imagem mais"></a>
      </div>
      <!-- {% endif %} -->
      <div class="row row-cols-1 row-cols-md-3 g-4"> 
        {% for c in cupons %}
          <div class="col">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title text-center text-warning">CÓDIGO: {{ c.nome }}</h5>
                <img src="/static/imagens/cupons/{{ c.id|id_img }}.jpg" class="card-img-top" alt="Imagem do cupom"> 
                <!-- <img src="static/imagens/perim.jpg" class="card-img-top w-75 mx-auto d-block mt-3 mb-2" alt="Cupom 1"> -->
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item bg-primary text-white text-center">{{ c.valor }}% DE DESCONTO*
                <a href="/excluir_cupom/{{ c.id }}" class="btn btn-sm rounded-5 align-items-end " title="Excluir" data-bs-toggle="tooltip" data-bs-placement="left">
                  <i class="bi bi-trash"></i></a>
                </li>
              </ul>
            </div>
            <p style="font-size: 0.7rem;">*{{ c.condicao }} válidos até {{ c.hr_fim }} do dia {{ c.dt_fim }}</p>
          </div>
        {% endfor %}
      </div>
    </div>

    <nav class="mt-4">
      <ul class="pagination ms-2">
        <li class="page-item {{ 'disabled' if paginaAtual == 1 else '' }}">
          <a class="page-link" href="/cupons?pn=1&ps={{ tamanhoPagina }}">
            <i class="bi bi-arrow-left"></i>
          </a>
        </li>

        <li class="page-item {{ 'disabled' if paginaAtual == 1 else '' }}">
          <a class="page-link" href="/cupons?pn={{ paginaAtual - 1 }}&ps={{ tamanhoPagina }}">
            <i class="bi bi-arrow-left-short"></i>
          </a>
        </li>

        {% for i in range(totalPaginas) %}
          <li class="page-item {{ 'active' if i + 1 == paginaAtual else '' }}">
            <a class="page-link" href="/cupons?pn={{ i + 1 }}&ps={{ tamanhoPagina }}">{{ i + 1 }} 
            </a> 
          </li>
          {% endfor %}

          <li class="page-item {{ 'disabled' if paginaAtual == totalPaginas else '' }}">
            <a class="page-link" href="/cupons?pn={{ paginaAtual + 1 }}&ps={{ tamanhoPagina }}">
              <i class="bi bi-arrow-right-short"></i>
            </a>
          </li>

          <li class="page-item {{ 'disabled' if paginaAtual == totalPaginas else '' }}">
            <a class="page-link" href="/cupons?pn={{ totalPaginas }}&ps={{ totalPaginas }}">
              <i class="bi bi-arrow-right"></i>
            </a>
          </li>

        
                

      </ul>
    </nav>
  </fieldset>

</div>

{% endblock %}
