{% extends "base_simples.html" %} {% block conteudo %}

<form method="post" enctype="multipart/form-data">
  <div class="container">
    <div class="row mb-5">
      <a href="javascript:history.back()">
        <img src="static/imagens/voltar.svg" alt="Seta de voltar" style="width: 30px; height: 30px" />
      </a>
    </div>
    <div class="row">
      <div class="form-group mb-3">
        <h1>Cadastro de usuário</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group fs-4">
          <label for="nome">Nome*</label>
          <input type="text" name="nome" class="form-control mb-1" id="nome" />
          <span class="text-danger d-none small"></span>
        </div>
        <div class="form-group fs-4 mt-4">
          <label for="exampleFormControlInput3">Endereço*</label>
          <input type="text" name="endereco" class="form-control mt-4 mb-1" id="endereco" />
          <span class="text-danger d-none small"></span>
        </div>
        <div class="form-group fs-4"></div>
        <div class="form-group fs-4">
          <div class="form-check mt-2">
            <input class="form-check-input" type="checkbox" id="gridCheck" />Li e aceito os termos de uso*
            <label class="form-check-label fs-5" for="gridCheck"></label>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div>
          <label for="exampleFormControlInput4" class="fs-4">
            Data de nascimento*</label>
        </div>
        <div>
          <input name="dataNascimento" type="date" class="form-control mb-4" id="dataNascimento" />
        </div>
        <div>
          <label class="fs-4">Sexo*</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="sexo" id="sexo" value="Feminino" />
          <label class="form-check-label fs-5" for="sexo"> Feminino </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="sexo" id="sexo" value="Masculino" />
          <label class="form-check-label fs-5" for="sexo"> Masculino </label>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group fs-4 mb-2">
          <label for="exampleFormControlFile1">Foto</label>
        </div>
        <div class="mb-2">
          <input class="form-control" type="file" id="arquivoImagem" name="arquivoImagem" onchange="previewImage(event)" accept="image/jpeg" />
          <span class="text-danger d-none small"></span>
        </div>

        <div class="pt-4 pb-4 text-center">
          <img id="preview" src="" class="border border-2 rounded rounded-3 p-2 w-100 d-none" />
        </div>
      </div>
    </div>


    <hr class="mt-4 mb-4" />
    <div class="row">
      <div>
        <label class="mb-4">
          <h1 class="text-secondary">Preferências Alimentares</h1>
        </label>
      </div>
      <div class="col">
        <div class="mb-3 form-group">
          <div class="form-check">
            <input type="checkbox" class="btn-check" id="semgluten" style="max-width: 100px" name="semgluten" />
            <label class="w-100 btn btn-light fs-5" for="semgluten">Sem glúten</label>
          </div>
        </div>
        <div class="mb-3 form-group">
          <div class="form-check">
            <input type="checkbox" class="btn-check" id="vegetariano" name="vegetariano" />
            <label class="w-100 btn btn-light fs-5" for="vegetariano">Vegetariano</label>
          </div>
        </div>
        <div class="mb-3 form-group">
          <div class="form-check">
            <input type="checkbox" class="btn-check" id="lowcarb" name="lowcarb" />
            <label class="w-100 btn btn-light fs-5" for="lowcarb">Low Carb</label>
          </div>
        </div>
        <div class="mb-3 form-group">
          <div class="form-check">
            <input type="checkbox" class="btn-check" id="semfrutosdomar" name="semfrutosdomar" />
            <label class="w-100 btn btn-light fs-5" for="semfrutosdomar">Sem frutos do mar</label>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="mb-3 form-group">
          <div class="form-check">
            <input type="checkbox" class="btn-check" id="semlactose" name="semlactose" />
            <label class="w-100 btn btn-light fs-5" for="semlactose">Sem lactose</label>
          </div>
        </div>
        <div class="mb-3 form-group">
          <div class="form-check">
            <input type="checkbox" class="btn-check" id="vegano" name="vegano" />
            <label class="w-100 btn btn-light fs-5" for="vegano">Vegano</label>
          </div>
        </div>
        <div class="mb-3 form-group">
          <div class="form-check">
            <input type="checkbox" class="btn-check" id="integral" name="integral" />
            <label class="w-100 btn btn-light fs-5" for="integral">Integral</label>
          </div>
        </div>
        <div class="mb-3 form-group">
          <div class="form-check">
            <input type="checkbox" class="btn-check" id="semleite" name="semleite" />
            <label class="w-100 btn btn-light fs-5" for="semleite">Sem leite</label>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="mb-3 form-group">
          <div class="form-check">
            <input type="checkbox" class="btn-check" id="semacucar" name="semacucar" />
            <label class="w-100 btn btn-light fs-5" for="semacucar">Sem açúcar</label>
          </div>
        </div>
        <div class="mb-3 form-group">
          <div class="form-check">
            <input type="checkbox" class="btn-check" id="semovo" name="semovo" />
            <label class="w-100 btn btn-light fs-5" for="semovo">Sem ovo</label>
          </div>
        </div>
        <div class="mb-3 form-group">
          <div class="form-check">
            <input type="checkbox" class="btn-check" id="semcacau" name="semcacau" />
            <label class="w-100 btn btn-light fs-5" for="semcacau">Sem cacau</label>
          </div>
        </div>
        <div class="mb-3 form-group">
          <div class="form-check">
            <input type="checkbox" class="btn-check" id="organico" name="organico" />
            <label class="w-100 btn btn-light fs-5" for="organico">Orgânico</label>
          </div>
        </div>
      </div>
      <hr class="mt-4 mb-4" />
      <div class="row align-items-center">
        <div class="col-md-1 align-items-center">
          <p style="font-size: 3rem">
            <i class="bi bi-person-circle text-primary" alt="ícone perfil"></i>
          </p>
        </div>
        <div class="col-md-9 align-items-center">
          <input name="email" type="email" id="email" class="form-control form-control-lg login-input w-50" placeholder="Email" />
          <span class="text-danger d-none small"></span>
        </div>
      </div>
      <div class="row mt-3 align-items-center">
        <div class="col-md-1">
          <p style="font-size: 3rem">
            <i class="bi bi-lock-fill text-primary" alt="Cadeado/Senha"></i>
          </p>
        </div>
        <div class="col-md-9 text-right">
          <input name="senha" type="password" id="senha" class="form-control form-control-lg login-input w-50" placeholder="Senha" />
          <span class="text-danger d-none small"></span>
        </div>
      </div>
      <div class="row mt-3 align-items-center">
        <div class="col-md-1">
          <p style="font-size: 3rem">
            <i class="bi bi-check-circle text-primary" alt="Cadeado/Senha"></i>
          </p>
        </div>
        <div class="col-md-9 text-right">
          <input name="confSenha" type="password" id="confSenha" class="form-control form-control-lg login-input w-50" placeholder="Confirmar Senha" />
          <span class="text-danger d-none small"></span>
        </div>
      </div>
      <hr class="mt-4 mb-4" />
      <div class="row">
        <div class="col-lg-12" style="text-align: right">
          <div class="d-flex justify-content-end">
            <button id="btnSalvar" class="fs-4 btn btn-primary text-white mb-2" type="submit" style="width: 100px">
              Salvar
            </button>
            <button class="fs-4 btn btn-primary text-white mb-2 mx-2" type="reset" style="width: 100px">
              Cancelar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
<!-- SCRIPT PARA MOSTRAR IMAGEM SELECIONADA -->
<script>
  function previewImage(event) {
    var reader = new FileReader();
    reader.onload = function () {
      var preview = document.getElementById('preview');
      preview.src = reader.result;
      preview.classList.remove('d-none');
    };
    reader.readAsDataURL(event.target.files[0]);
  }
</script>
{% if erros and valores: %}
<script>
  const validationErrors = {{ erros| tojson }};
  const fieldValues = {{ valores| tojson }};
</script>
<script src="/static/js/formValidation.js"></script>
{% endif %}
{% endblock %}